<div class="body">
  <mat-tab-group mat-align-tabs="center">
    <mat-tab label="User" class="color">
      <mat-tab-group mat-align-tabs="center">
        <mat-tab label="Create">
          <app-register-user></app-register-user>
        </mat-tab>

        <mat-tab label="List">
          <app-list-user></app-list-user>
        </mat-tab>
      </mat-tab-group>
    </mat-tab>

    <mat-tab label="Role">
      <mat-tab-group mat-align-tabs="center">
        <mat-tab label="Create">
          <app-register-role></app-register-role>
        </mat-tab>

        <mat-tab label="List">
          <app-list-role></app-list-role>
        </mat-tab>
      </mat-tab-group>
    </mat-tab>
  </mat-tab-group>
</div>
