<mat-toolbar class="bgHeader">
  <ul>
    <a *ngIf="auth.loggedIn()" routerLink="listTask">List Task</a>
  </ul>
  <ul>
    <a *ngIf="auth.loggedIn()" routerLink="saveTask">New Task</a>
  </ul>
  <ul>
    <a *ngIf="auth.loggedIn() && auth.getAdmin()" routerLink="admin">Admin</a>
  </ul>
  <span class="headerSpacer"></span>
  <ul>
    <a *ngIf="!auth.loggedIn()" mat-button routerLink="register">Sign up</a>
    <a *ngIf="!auth.loggedIn()" mat-button routerLink="login">Log in</a>
    <a *ngIf="auth.loggedIn()" mat-button (click)="auth.logout()">Logout</a>
  </ul>
</mat-toolbar>
